<ion-header>
    <ion-toolbar color="primary">
        <div >
          <ion-row>
            <ion-col size="2">
                <ion-back-button></ion-back-button>
            </ion-col>
            <ion-col size="8" class="centralizado">
                <ion-title > <div class="centralizado"> <img src="./assets/mepi_icon.png" style="max-width: 100px;" /> </div> </ion-title>
            </ion-col>
            <ion-col size="2">
            </ion-col>
          </ion-row>
        </div>
    </ion-toolbar>
  </ion-header>

  <ion-content center>
  <div class="centralizado-web" style="height: 100%">
    <ion-card style="background-color: white; width: 80%" >
    <ion-card-header style="background-color: #a5a2a2; margin-bottom: 10px">
      <ion-card-title class="label-card-text">NORMAS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let norma of data" (click)="openDetailsWithState('/normas',norma)">
          <ion-col size="4"><div class="label-atencao" style="font-size: 13px;">{{norma.N_NORMA}}</div></ion-col>
          <ion-col size="8"><div class="label-item" style="font-size: 13px;">{{norma.TITULO}}</div></ion-col>
      </ion-item>
    </ion-card-content>
    </ion-card>
  </div>
  </ion-content>
