<ion-header>
    <ion-toolbar color="primary">
        <div >
          <ion-row>
            <ion-col size="1">
                <ion-back-button></ion-back-button>
            </ion-col>
            <ion-col size="10" class="centralizado">
                <ion-title > <div class="centralizado"> <img src="./assets/mepi_icon.png" style="max-width: 100px;" /> </div> </ion-title>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
        </div>
    </ion-toolbar>
  </ion-header>

<ion-content center>
  <div class="centralizado" >
    <ion-card style="background-color: white; width: 80%" >
    <ion-card-header style="background-color: #a5a2a2; margin-bottom: 10px">
      <ion-card-title class="label-card-text">AREA DO CLIENTE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item style="background-color: white">
        <ion-input name="name" type="text" placeholder="Nome"  [(ngModel)]="data.nome"  required > </ion-input>
      </ion-item>
      <ion-item style="background-color: white">
        <ion-input name="email" type="email" placeholder="Email" [(ngModel)]="data.email" required > </ion-input>
      </ion-item>
      <ion-item style="background-color: white">
        <ion-input name="telefone" type="tel" placeholder="Celular" [(ngModel)]="data.celular" required > </ion-input>
      </ion-item>
      <ion-item style="background-color: white">
       <ion-input name="empresa" type="text" placeholder="Empresa" [(ngModel)]="data.empresa" required > </ion-input>
      </ion-item>
      <ion-item style="background-color: white">
       <ion-input name="empresa" type="text" placeholder="Cidade" [(ngModel)]="data.cidade" required > </ion-input>
      </ion-item>

  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-select  [(ngModel)]="data.estado" value="brown" okText="Ok" cancelText="Cancelar">
      <ion-select-option value="AC">Acre</ion-select-option>
      <ion-select-option value="AL">Alagoas</ion-select-option>
      <ion-select-option value="AP">Amapá</ion-select-option>
      <ion-select-option value="AM">Amazonas</ion-select-option>
      <ion-select-option value="BA">Bahia</ion-select-option>
      <ion-select-option value="DF">Distrito Federal</ion-select-option>
      <ion-select-option value="ES">Espírito Santo</ion-select-option>
      <ion-select-option value="GO">Goiás </ion-select-option>
      <ion-select-option value="MA">Maranhão</ion-select-option>
      <ion-select-option value="MS">Mato Grosso do Sul</ion-select-option>
      <ion-select-option value="MG">Minas Gerais</ion-select-option>
      <ion-select-option value="PA">Pará</ion-select-option>
      <ion-select-option value="PB">Paraíba</ion-select-option>
      <ion-select-option value="PR">Paraná</ion-select-option>
      <ion-select-option value="PE">Pernambuco</ion-select-option>
      <ion-select-option value="PI">Piauí</ion-select-option>
      <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
      <ion-select-option value="RN">Rio Grande do Norte</ion-select-option>
      <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
      <ion-select-option value="RO">Rondônia</ion-select-option>
      <ion-select-option value="RR">Roraima</ion-select-option>
      <ion-select-option value="RR">Santa Catarina</ion-select-option>
      <ion-select-option value="RR">São Paulo</ion-select-option>
      <ion-select-option value="RR">Sergipe</ion-select-option>
      <ion-select-option value="RR">Tocantins</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
      <ion-label position="floating">O que deseja saber?</ion-label>
      <ion-textarea [(ngModel)]="data.corpo"

        value="">
      </ion-textarea>
    </ion-item>


      <ion-row  class="centralizado" style="margin:20px">
        <div class="centralizado">
            <ion-button (click)="sendEmail()" color="primary">Enviar</ion-button>
        </div>
      </ion-row>
    </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer >
    <div></div>
    <ion-toolbar color="secondary" style="padding: 8px" >


      <div>

              <div  style="font-size: 9px;border-bottom: 1px solid white; padding-bottom: 8px;">
                  <ion-row style="width: 100%">
                      <ion-col size="7">
                          Rua Dr. Roberto Camilo, 75
                      </ion-col>
                      <ion-col size="5" style="text-align: right">
                        CEP: 38.041-016
                      </ion-col>
                  </ion-row>

                  <ion-row style="width: 100%">
                      <ion-col size="7">
                          Uberaba/MG
                      </ion-col>
                      <ion-col size="5" style="text-align: right">
                          (34) 3313.8569
                      </ion-col>
                  </ion-row>
              </div>



      </div>

  <div >

      <div  style="font-size: 9px;">
          <ion-row style="width: 100%">
              <ion-col size="7">
                  Av. Fernando Costa, 570
              </ion-col>
              <ion-col size="5" style="text-align: right">
                CEP: 38.022-300
              </ion-col>
          </ion-row>

          <ion-row style="width: 100%">
              <ion-col size="7">
                  Uberaba/MG
              </ion-col>
              <ion-col size="5" style="text-align: right">
                  (34) 3312-3643
              </ion-col>
          </ion-row>
      </div>



</div>






    </ion-toolbar>
  </ion-footer>
