<ion-header>
  <ion-toolbar color="primary">
      <div >
        <ion-row>
          <ion-col size="1">
              <ion-back-button></ion-back-button>
          </ion-col>
          <ion-col size="10" class="centralizado">
              <ion-title > <div class="centralizado"> <img src="./assets/mepi_icon.png" style="max-width: 100px;" /> </div> </ion-title>
          </ion-col>
          <ion-col size="1">
          </ion-col>
        </ion-row>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" style="background-color: white">
    <ion-row > 
      <img src="./assets/capacete.png" style="width: 100%;" />
  
    </ion-row>
  </div>

  <ion-row class="background-primary centralizado">
    <div class="centralizado"><div class="ion-padding label-contato"> {{data.titulo}} </div></div>
  </ion-row>

  <div class="ion-padding">
    <ion-row>
      <ion-col size="6" style="text-align: left"><span class="label-info">Código: </span>USCP600100</ion-col>
      <ion-col size="6" style="text-align: right"><span class="label-info">CA:</span> 31.159</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" style="text-align: left"><span class="label-info">Norma:</span> USCP600100</ion-col>
      <ion-col size="6" style="text-align: right"><span class="label-info">Marca:</span> Ultra Safe</ion-col>
    </ion-row>
  </div>

  <ion-row   >
    <div class="ion-padding" >
      <p class="label-desc">
        Características
      </p>

      
        <ul>
          <li>
            Característica 1
          </li>
          <li>
            Característica 2
          </li>
          <li>
            Característica 3
          </li>
          <li>
            Característica 4
          </li>
        </ul>

      <p class="label-desc">
        Descrição
      </p>

      <p>
          Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      </p>

      <p class="label-desc">
          Aplicação
      </p>

      <p>
          Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      </p>

      <p class="label-desc">
          Informações adionais
      </p>

      <p>
          Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      </p>
    
    
      
    </div>
  </ion-row>
</ion-content>

