.produto-par{
  background-color: #878181;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

.produto-impar{
  background-color: #90939e;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}
