<ion-header>
    <ion-toolbar color="primary">
        <div >
          <ion-row>
            <ion-col size="1">
                <ion-back-button></ion-back-button>
            </ion-col>
            <ion-col size="10" class="centralizado">
                <ion-title > <div class="centralizado"> <img src="./assets/mepi_icon.png" style="max-width: 100px;" /> </div> </ion-title>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
        </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content center>
  <div class="centralizado" style="height: 100%">
    <ion-card style="background-color: white; width: 80%" >
    <ion-card-header style="background-color: #a5a2a2; margin-bottom: 10px">
      <ion-card-title class="label-card-text">NORMAS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item (click)="openDetailsWithState('/normas','1', 'NBR-006')">
          <div class="label-atencao">NBR - 5225</div> <div class="label-item">Ítem 1</div>
      </ion-item>
  
      <ion-item >
          <div class="label-atencao">NBR - 5225</div> <div class="label-item">Ítem 1</div>
      </ion-item>
  
      <ion-item >
          <div class="label-atencao">NBR - 5225</div> <div class="label-item">Ítem 1</div>
      </ion-item>
  
      <ion-item lines="none">
         <div class="label-atencao">NBR - 5225</div> <div class="label-item">Ítem 1</div>
      </ion-item>
      
      
    </ion-card-content>
    </ion-card>
  </div>
  </ion-content>
  